* {
    margin: 0;
    border: px solid black;
}
body {
    background-color: #222222;
}
.bar {
    position: sticky;
    top: 0;
    display: flex;
    height: 5em;
    background-color: #171717;
    box-shadow: 0 8px 2em black;
    font-family: 'Noto Sans', sans-serif;
}
.box_1 img {
    position: relative;
    top: 7%;
    left: 1em;
    border-radius: 50%;
    width: 4em;
    height: 4em;
}
.box_1 p {
    position: relative;
    top: 20%;
    font-weight: 100;
    left: 2em;
    height: 3em;
    color: white;
}
.box_1 p::first-line {
    font-weight: 400;
    color: white;
}
.box_1 {
    position: relative;
    display:inline-flex;
    width: 50%;
    height: 5em;
}
.box_2 {
    position: relative;
    width: 25%;
    height: 5em;
}
.box_2 h1 {
    position: relative;
    text-align: center;
    font-weight: 700;
    color: white;
    top: 21%;
}
.box_3 {
    position: relative;
    width: 50%;
    height: 5em;
}
.box_3 i {
    position: relative;
    top: 15%;
    font-size: 3em;
    left: 80%;
    width: 1em;
    height: 1em;
    color: white;
    transition: .2s;
}
.box_3 i:hover {
    color: #1d9bf0;
    font-size: 4em;
    top: 8%;
}
.box_3 i a {
    position: absolute;
    right: 5%;
    width: 1em;
    height: 1em;
}
.media_img {
    padding-top: 2em;
    display: flex;
    flex-wrap: wrap;
    margin: 4px;
    justify-content: center;
}
.media_img img {
    width: 400px;
    height: 400px;
    margin: 1em;
    border-radius: 1em;
    max-width: 400px;
}
.media_video {
    padding-top: 2em;
    background-color: #141414;
    display: flex;
    flex-wrap: wrap;
    margin: 4px;
    justify-content: center;
}
.media_video video {
    width: 600px;
    margin: 1em;
    border-radius: 1em;
    max-width: 600px;
}
